{% extends 'AppBundle:shop:default.html.twig' %}

{% block body_content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                        <div class="sidebar-nav">
                            <div class="navbar navbar-default" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <span class="visible-xs navbar-brand">User menu</span>
                                </div>
                                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="{{ path('fos_user_profile_show') }}"> User info</a></li>
                                        <li><h4>Messages</h4></li>
                                        <li><a href="#">Received <span class="badge">8</span></a></li>
                                        <li><a href="#">Sent</a></li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </div>
                </div>
                <div class="col-sm-9 padding-right">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}