<section id="form"><!--form-->
    <div class="shop-form">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_change_password">
            {{ form_widget(form) }}
            <button type="submit" id="_submit" name="_submit"
                    class="btn btn-default">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </form>
    </div>
</section>
