{% extends 'AppBundle:shop:user-info.html.twig' %}

{% block content %}
    {#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}

    <section id="form"><!--form-->
        <div class="shop-form">
            <h2> Message for: {{ recipient.username }}</h2>
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
