{% extends 'AppBundle:shop:1-column.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
