{% extends 'AppBundle:admin:default.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'page.name.newsletter.edit'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ tinymce_init({
                theme: {'simple':{'height': 500, plugins: ['link code legacyoutput'],}},
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"})
            }}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}