{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Login to your account</h2>
                        {% block login_form %}
                        {% endblock login_form %}
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form"><!--sign up form-->
                        <h2>New User Registration!</h2>
                        {% block register_form %}
                        {% endblock register_form %}
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
